/*Estilo da página a0587.html*/
*{
    margin: 0;
    padding: 0;
}
 
body{
    font: normal 15pt arial;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    animation: changeBackgroundImage 20s infinite;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;    
}
 
@keyframes changeBackgroundImage{
    0%{
        background-image: url('../img/desktop1.jpg'), url('../img/desktop2.jpg');
    }
    25%{
        background-image: url('../img/desktop2.jpg'), url('../img/desktop3.jpg');
    }
    50%{
        background-image: url('../img/desktop4.jpg'), url('../img/desktop3.jpg');
    }
    75%{
        background-image: url('../img/desktop3.jpg'), url('../img/desktop4.jpg');
    }
    100%{
        background-image: url('../img/desktop1.jpg');
    }
}
 
section{
    position: absolute;
    /* background: #fff;  */
    /* background: transparent;
    backdrop-filter: blur(20px); */
    top: 20px;
    border-radius: 10px;
    padding: 5px;
    width: 950px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363); /* 5px de deslocamento lateral, 5px de deslocamento vertical e 10px de espalhamento */
}
 
.head{
    text-align: center;
}
 
.head_1{
    font-size: 50px;
    font-weight: 600;
    color: #333;
}
 
.head_1 span{
    color: #ff4732;
}
 
.head_2{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 3px;
}
 
section p{
    text-align: center;
    margin-bottom: 5px;
}
 
ul#album-fotos {
    width: 100vw;
    margin-left: 160px;
    margin-top: 120px;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    cursor: pointer;
}
 
ul#album-fotos li {
    border-radius: 20px;
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 3px rgba(0,0,0,.4);
    transition: all .4s ease-in;
   
}
 
ul#album-fotos li:hover span {
    opacity: 1;
        /* color: aqua; */
   
  }
 
  ul#album-fotos li:hover {
     transform: scale(1.5);
 }  
 
ul#album-fotos li#foto1 {
    background: url('../pictures/ADRIANA\ TEIXEIRA\ SANTOS\ PINHEIRO.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto1:hover {
    content: url('../img/teste.jpg');
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    background-position: 0px 0px;
    background-size: 200px;
}
 
figcaption.foto {
    display: block;
    margin-top: 177px;
    letter-spacing: -1px;
    font-size: 12px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
  }
 
 
ul#album-fotos li#foto2 {
    background: url('../pictures/ALINE\ BIANCA\ DE\ OLIVEIRA\ SOARES.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto2:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto3 {
    background: url('../pictures/BIANCA\ BOCARDI\ GORGULHO\ FIGUEIREDO.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto3:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto4 {
    background: url('../pictures/bruno.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto4:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto5 {
    background: url('../pictures/CAROLINA\ LOPES\ DE\ SENA.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto5:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto6 {
    background: url('../pictures/DANIELE\ DAIANE\ COSTA\ DE\ SOUZA.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto6:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto7 {
    background: url('../pictures/HERBERT\ BARBOSA.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto7:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto8 {
    background: url('') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto8 {
    background: url('../pictures/JESSICA\ IMPELIZIERI\ DE\ OLIVEIRA.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto9:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto9 {
    background: url('../pictures/LEIGISLANY\ APARECIDA\ FERREIRA\ TORRES.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto10:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto10 {
    background: url('../pictures/LUIS\ RICARDO\ DIAS\ DE\ OLIVEIRA.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto10:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto12 {
    background: url('../pictures/MARIA\ EDUARDA\ OLIVEIRA\ CRUVINEL.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto12:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto13 {
    background: url('../pictures/PAMELLA\ RODRIGUES\ SALDANHA\ PEREIRA.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto13:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto14 {
    background: url('../pictures/MARIA\ EDUARDA\ OLIVEIRA\ CRUVINEL.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto14:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto15 {
    background: url('../pictures/PAMELLA\ RODRIGUES\ SALDANHA\ PEREIRA.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto15:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto16 {
    background: url('../pictures/RAFIZA\ FERNANDA\ MOREIRA\ DE\ OLIVEIRA.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto16:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
ul#album-fotos li#foto17 {
    background: url('../pictures/RAISSA\ FERNANDA\ SILVA.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: #ffffff;
}
 
ul#album-fotos li#foto17:hover {
    background-position: 0px 0px;
    background-size: 200px;
}
 
/* ul#album-fotos li span {
   opacity: 0;
   color: #ffffff;
   text-shadow: 1px 1px 1px #000000;
   background-color: rgba(0,0,0,.3);
   font-size: 9pt;
   line-height: 370px;
   padding: 5px;
} */
 
#rodape{
    clear: both;
}
 
#rodape p{
    text-align: center;
}
 
#rodape img{
    width: 30px;
    margin: 5px;
    box-sizing: border-box;
}