/*Estilo da main.HTML*/
html{
    font-size: 62.5%;
    }
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upload-container {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}
 
#uploadExcel {
    display: none; /* esconde o input real */
    align-items: center;
}
 
.btn-upload {
    display: inline-block;
    background-color: #ff6f00; /* laranja */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.btn-upload:hover {
    background-color: #ff8f33;
}
 
/* Upload e seleção */
.upload-container {
    text-align:center; margin-bottom:30px;
}
 
#uploadExcel {
    display:inline-block;
    padding:12px 25px;
    font-size:16px;
    border-radius:10px;
    cursor:pointer;
    background-color:#ff6f00;
    color:white;
    border:none;
    margin-bottom:10px;
}
 
#uploadExcel:hover {
    background-color:#ff8f33;
}
 
#selectPessoa {
    padding:10px 20px;
    font-size:16px; 
    border-radius:8px;
    cursor:pointer;
    border:none;
    margin-bottom: 70px;
}
    
.main-container{
    filter: drop-shadow(8px 8px 4px black);
    position: relative;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 950px;
    height: 400px;    
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin: 100px auto;
    /* padding: 10px 70px; */
    margin-top: -60px;
}

body{
    font: normal 15pt arial;
    overflow: hidden;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    animation: changeBackgroundImage 20s infinite;
    background-size: cover;
    /* background: transparent;
    backdrop-filter: blur(5px); */
    height: 100vh;
    align-items: center;
    justify-content: center;    
}

@keyframes changeBackgroundImage{
    0%{
        background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'), url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    }
    25%{
        background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'), url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
    }
    50%{
        background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80'), url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
    }
    75%{
        background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80'), url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    }
    100%{
        background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    }
}
   
.crachas{
    position: relative;
    width: 190px;
    height: 190px;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #f97316;
    box-shadow: 0 0 30px rgba(249,115,22,.4); 
}

ul{
    display: flex;
    margin-top: 10px;
}

ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*icones*/
ul li .icon{
    font-size: 35px;
    color: #ff4732;
    /* margin: 0 55px;  */
    margin: 0 60px;
}

.truck{
    transform: scaleX(-1);
}

/*Texto*/
ul li .text {
    font-size: 18px; /*teste apagar*/
    font-weight: 600;
    color: #ff4732;
}

/* Barra de progresso */
ul li .progress{
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(68, 68, 68, 0.781);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: background-color 0.70s ease, color 0.70s ease;
}

.progress:hover {
    box-shadow:
        0 0 0 3px rgba(255, 71, 50, .35),
        0 0 12px rgba(255, 71, 50, .7);    
}

/*Inverter a animação da barra para esquerda
.progress::after {
    content: "";
    position: absolute;
    width: 125px;  largura final
    height: 5px;
    background-color: rgba(68, 68, 68, 0.3);
    right: 30px; mantém a posição original
    top: 50%;
    transform: translateY(-50%) scaleX(0);  começa invisível
    transform-origin: left;  anima da esquerda para a direita
    transition: transform 0.6s ease, background-color 0.6s ease;
} */

.one::after {
    width: 0;
    height: 0;
    }
    
ul li .progress p {
    font-size: 18px;
}

ul li .progress .uil {
    display: none;
}

ul li .progress.active {
    background-color: #ff4732;
}

ul li .progress.active p {
    display: none;
}
    
ul li .progress.active .uil {
    display: block;
    font-size: 22px;
    animation: fadeIn 0.30s ease-in-out;
}

li .active::after {
    background-color: #ff4732;
}

@keyframes fadeIn {
    from { 
        opacity: 0; transform: scale(0.8); 
    }
    to {
        opacity: 1; transform: scale(1); 
    }
}

/* Linha horizontal (desktop) */
.progress::after {
    content: "";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: rgba(68, 68, 68, 0.3);
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.progress.active::after {
    background-color: #ff4732;
    animation: fillLine 0.6s ease ;
}

@keyframes fillLine {
    from { width: 0; }
    to { width: 125px; }
}

/* Remove linha do último item */
.one::after {
    width: 0;
    height: 0;
}

ul li .active p{
    display: none;
}

ul li .active .uil{
    /* font-size: 20px; */
    font-size: 30px; /*teste apagar*/
    display: flex;
}

/* Responsivo para mobile (vertical) */
@media(max-width: 600px){
    main{
        width: 100vw;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .main-container{
        flex-direction: column !important;
        padding: 0;
        width: 100%;
        align-items: center;
     /*Para mostrar a foto novente: comente align-items e display none e descomente: width e height*/
    }   
    .crachas {
        /* width: 140px;
        height: auto; */
        display: none !important; /*Para ocultar*/
    }
     ul{
        flex-direction: column;
        margin-left: 0;
    }
    ul li{
        flex-direction: row;
        align-items: center;
    }
    ul li .progress{
        margin: 0 30px;
    }
    .progress::after{
        width: 5px;
        height: 40px;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    } 
    .one::after{
        height: 
        0;
    }
    .progress.active::after {
    animation: fillLineVertical 0.6s ease forwards;
    }
    @keyframes fillLineVertical {
        from { height: 0; }
        to { height: 40px; }
    }
     ul li:last-child .progress::after{
        display: none;
    }
    ul li .icon{
        font-size: 28px;
        margin: 15px 0;
    }
   ul li .text{
    font-size: 15px; /*teste apagar*/
    font-weight: 600;
    color: #ff4732;
    }
    #coletado,
    #preparacao,
    #confeccionado,
    #enviado,
    #transito,
    #entregue {
    margin-left: 3px; 
  
    }
    #coletado::before,
    #preparacao::before,
    #confeccionado::before,
    #enviado::before,
    #transito::before,
    #entregue::before {
    content: " • ";
    } 
}